nav.top-navigation

    div.mobile 
        a(href="#").brand Dashboard
        div.hamburger
            div
            div
            div


    div.content
        a(href="#").brand Dashboard

        ul.navs
            li.item
                a(href="#").link Home
            li.item
                a(href="#").link Page 2 
            li.item
                a(href="#").link Page 3 
            li.item
                a(href="#").link Page 4 

        ul.shortcuts
            li.item.profile.has-dropdown
                strong John Doe
                span administrator
                ul.dropdown
                    li
                        a(href="#") profile
                    li
                        a(href="#") logout