<!DOCTYPE html>
head
    title flatline
    link(rel="stylesheet" type="text/css" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")


body
    header
        include ../components/top-navigation

    section#main
        block content