.btn {
    text-align: center;
    text-decoration: none;
    background: $buttonPrimaryBackground; 
    color: $buttonPrimaryTextColor;
    padding: $buttonPadding;
    border-radius: $buttonBorderRadius;
    box-shadow: $boxShadow;

    &.link {
        background-color: transparent;
        box-shadow: none;
        color: $dark;
    }

    &.block {
        width: 100%;
    }
}