.modal {
    display: none;
    background: $modalBackdropShadow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;

    header {
        background: $modalHeaderBackgroundColor;
        color: $modalHeaderTextColor;
        padding: $modalPadding; 
        width: $modalWidth;
        margin: auto;
        border-top-left-radius: $modalBorderRadius;
        border-top-right-radius: $modalBorderRadius;
        border-bottom: $modalHeaderBorderBottom;

        h3{
            margin: 0;
        }
    }

    .content {
        background: $modalContentBackground;
        padding: $modalPadding;
        width: $modalWidth;
        margin: auto;
    }

    footer {
        background-color: $modalFooterBackground;;
        padding: $modalPadding;
        width: $modalWidth;
        margin: auto;
        text-align: right;
        border-top: 1px solid #ccc;
    }
}