$dark: #333;
$light: #F7FAFB;
$white: #fff;

$bodyBackground: $light;

$topNavbarBackground : $white;
$topNavbarPadding: 10px 5%;
$topNavbarBrandTransform: uppercase;
$topNavbarFontSize: 0.8rem;

$topNavbarDropdownBackground : $white;