$primary: #706fd3;
$dark: #333;
$light: #F7FAFB;
$white: #fff;
$purple: #40407a;
$green: #33d9b2;

$bodyBackground: $light;
$bodyFontSize: 0.8rem;

$boxShadow: 0 2px 10px #eee;

$singleLayoutMainWidth: 30%;
$singleLayoutMainPadding: 150px 0 0;
$singleLayoutBrandSize: 1.5rem;
$singleLayoutBrandColor: $dark;

$singleLayoutContentHeaderBackgroundColor: $purple;
$singleLayoutContentHeaderBorder: 5px solid $primary;
$singleLayoutContentHeaderTextColor: $white;
$singleLayoutContentHeaderPadding: 15px;
$singleLayoutContentBackgroundColor: $white;
$singleLayoutContentPadding: 20px;

$topNavbarFontSize: $bodyFontSize;
$topNavbarBrandTransform: uppercase;
$topNavbarBackground : $white;
$topNavbarPadding: 10px 5%;
$topNavbarBorderBottom: none;
$topNavbarDropdownBackground : $white;

$brandFontSize: 1rem;
$brandTextTransform: uppercase;

$pageHeaderFontSize: 1rem;
$pageHeaderTextFontSize: 0.8rem;

$tableHeadingBackgroundColor: $purple;
$tableHeadingFontSize: $bodyFontSize;
$tableHeadingTextColor: $white;
$tableHeadingBorderBottom: 2px solid $primary;
$tableHeadingPadding: 10px 15px;

$tableDataPadding: $tableHeadingPadding;
$tableDataBorderBottom: 1px solid #ccc;
$tableDataBackgroundColor: $white;

$buttonPadding: 10px;
$buttonBorderRadius: 3px;
$buttonPrimaryBackground: $green;
$buttonPrimaryTextColor: $white;

$modalBackdropShadow: rgba(0,0,0,0.3);
$modalPadding: 15px;
$modalWidth: 50%;
$modalBorderRadius: 3px;
$modalHeaderBackgroundColor: $purple;
$modalHeaderBorderBottom: 2px solid $primary;
$modalHeaderTextColor: $white;
$modalContentBackground: $white;
$modalFooterBackground: $white;