@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "variables";

body{
    background-color: $bodyBackground;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* components */
@import "components/top-navigation";