@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "variables";

body {
    background-color: $bodyBackground;
    font-family: 'Montserrat', sans-serif;
    font-size: $bodyFontSize;
    margin: 0;
}

/* layouts */
@import "layouts/master";
@import "layouts/single";

/* elements */
@import "elements/button";
@import "elements/table";
@import "elements/modal";
@import "elements/form";

/* components */
@import "components/top-navigation";
@import "components/page-title";