@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "variables";

body {
    background-color: $bodyBackground;
    font-family: 'Montserrat', sans-serif;
    font-size: $bodyFontSize;
    margin: 0;
}

section#main {
    margin: 20px 5%;
}

section#content {
    margin-top: 30px;
}

/* elements */
@import "elements/button";
@import "elements/table";

/* components */
@import "components/top-navigation";
@import "components/page-title";